<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina administrativa</title>
    
</head>
<body>
    <h1>tablas</h1>
    <ul>
        <li><a href="/admin/integrantes/listar">integrantes</a></li>
        <li><a href="/admin/media/listar">tipo de media</a></li>
        <li><a href="/admin/media2/listar">media</a></li>
    </ul>
    <a href="/">regresar</a>
</body>
</html>