<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear integrante</title>
</head>
<body>
    <h1>Crear un Integrante</h1>
    <section class="form_crear">
        <form action="/admin/integrantes/create" method="post">
            <fieldset>
                <legend>Integrante</legend>
                <label for="id">id</label>
                <input id="id" name="id" type="text" required>

                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" required>
                
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" required>

                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" type="text" required>

                 <label for="estado">estado</label>
                <input id="estado" name="estado" type="text" required>
            
            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a class="volver" href="/admin/Integrantes/listar">Volver</a>

</body>
</html>