<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar integrante</title>
</head>
<body>
    
    <h1>editar un Integrante</h1>
    <section class="form_crear">
        
        <form idintegrante="createIntegranteForm">
        {{#each integrantes}}
            <label for="id">ID</label>
            <input type="text" id="idIntegrante" name="Id" placeholder="Id" value="{{id}}" disabled>

            
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="{{nombre}}">

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" value="{{apellido}}">

            <label for="matricula">Matrícula</label>
            <input type="text" id="matricula" name="matricula" placeholder="Matrícula" value="{{matricula}}">

        {{/each}}

            <input type="submit" value="Modificar">
        </form>
        
    </section>
  
    <a class="volver" href="/admin/Integrantes/listar">Volver</a>

</body>
</html>