<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingresar tipo de media</title>
</head>
<body>
    <h1>ingresar tipo de media</h1>
    <section class="form_crear">
        <form action="/admin/media/create" method="post">
            <fieldset>
                <legend>tipo de media</legend>
                <label for="id">id</label>
                <input id="id" name="id" type="text" required>
                
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" required>

                <label for="estado">estado</label>
                <input id="estado" name="estado" type="text" required>

                
            
            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    
    <a class="volver" href="/admin/media/listar">Volver</a>

</body>
</html>