<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado del tipo de media</title>
</head>
<body>
    <h1>Listado de tipos</h1>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>nombre</th> 
                <th>estado</th>              
            </tr>
            {{#each media}}
            <tr>
                <td><a href="/admin/media/edit/{{this.id}}">{{this.id}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.estado}}</td>
                <td>
                    <form action="/admin/media/delete/{{this.id}}" method="post">
                    <input type="submit" value="eliminar">
                    </form>
                </td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if media.length}}
            
        {{else}}
            <span>No hay datos de tipo de media registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a class="Crearnuevo" href="/admin/media/crear">Crear Nuevo</a>
    <a href="/admin">Volver</a>
</body>
</html>