<div class="barra">
    <h2>Menú</h2>

    <ul>
      
      <li><a href="/">Inicio</a></li>
      {{#each integrantes}}
            <li><a href="{{matricula}}">{{nombre}}</a></li>
      {{/each}}   
      <li><a href="/views/curso.hbs">Curso</a></li>
      <li><a href="/views/word_cloud.hbs">Word Cloud</a></li>
    </ul>
  </div>
 