<!DOCTYPE hbs>
<hbs lang="en">
<head>
  <meta charset="UTF-8">
  <title>conjunto</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
    }

    .barra {
      height: 100%;
      width: 100px;
      position: fixed;
      background-color: #424874;
    }

    .barra h2 {
      color: white;
      text-align: center;
    }

    .barra ul {
      list-style-type: none;
      padding: 2px;
    }

    .barra ul li {
      padding: 10px;
    }

    .barra ul li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 5px;
    }

    .barra ul li a:hover {
      background-color: #A6B1E1;
      color: #424874;
      padding: 5px;
      border-radius: 5px;
    }

    .contenido {
      margin-left: 100px;
      padding: 20px;
    }

    .contenido header {
      background-image: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .contenido h1, .contenido h3 {
      margin: 10px;
    }

    .contenido iframe{
      width: 100%;
      height: 600px;
    }
    .contenido img {
    width: 80%;
    height: 600px; 
    display: block; 
    margin: 0 auto; 
    }
  </style>
</head>
<body>
  {{> nav }}
<div class="contenido">
    <header>
{{#each integrante}}
        <h1>{{nombre}} {{apellido}}</h1>
        <h3>{{matricula}}</h3>
{{/each}}
    </header>
    <section>
        {{#each media2}}
            <h2>contenido</h2>
                <h2>video</h2>
                <iframe src="{{url}}" title="Video de Youtube " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h2>imagen</h2>
                <img src="{{imagen}}" alt="imagen">
                <h2>dibujo</h2>
                <img src="{{dibujo}}" alt="imagen">
        {{/each}}
    </section>
    {{> footer }}
</div>

  
  
</body>
</hbs>



