<!DOCTYPE hbs>
<hbs lang="en">
<head>
  <meta charset="UTF-8">
  <title>Curso</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
    }

    .barra {
      height: 100%;
      width: 100px;
      position: fixed;
      background-color: #424874;
    }

    .barra h2 {
      color: white;
      text-align: center;
    }

    .barra ul {
      list-style-type: none;
      padding: 2px;
    }

    .barra ul li {
      padding: 10px;
    }

    .barra ul li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 5px;
    }

    .barra ul li a:hover {
      background-color: #A6B1E1;
      color: #424874;
      padding: 5px;
      border-radius: 5px;
    }

    .contenido {
      margin-left: 100px;
      padding: 20px;
    }

    .contenido header {
      background-image: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .contenido h1, .contenido h3 {
      margin: 10px;
    }
    .contenido img {
      width: 20%;
      display: block; 
      margin: 0 auto; 
    }
    .lista ul li a{
      text-decoration: none;
      display: block;
      padding: 5px;
      color: #424874;
    }
    .lista h2{
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="barra">
    <h2>Menú</h2>
    <ul>
      <li><a href="../../index.hbs">Inicio</a></li>
      <li><a href="../views/Y26230/index.hbs">Zuanny</a></li>
      <li><a href="../views/Y23715/index.hbs">Gabriela</a></li>
      <li><a href="../views/Y18433/index.hbs">Nicolas</a></li>
      <li><a href="../views/Y12954/index.hbs">Yenifer</a></li>
      <li><a href="../views/UG0045/index.hbs">Diego</a></li>
      <li><a href="#">Curso</a></li>
      <li><a href="../views/word_cloud.hbs">Word Cloud</a></li>
    </ul>
  </div>

  <div class="contenido">
    <header>
    <h1>Curso</h1>
    </header>
    <div class="lista">
        <h2>Universidad Católica Nuestra Señora de la Asunción </h2>
        <h2>Unidad Pedagógica Guarambaré</h2>
        <h2>Facultad de Ciencias y Tegnologías</h2>
        <img src="https://www.uci.edu.py/uciweb/public/img/usuarios/escudo.png" alt="" style="width:200px;height:200px;">
        <h2>Ingeniería del Software 3</h2>
        <h3>Profesor: Omar Esgaib</h3>
        <h3>Integrantes</h3>
        <ul>
          <li><a href="#">Yenifer Aguilera - Y12954</a></li>
          <li><a href="./Y23715/index.hbs">Gabriela Espinola - Y23715</a></li>
          <li><a href="./Y18433/index.hbs">Nicolas Gimenez -Y18433 </a></li>
          <li><a href="./UG0045/index.hbs">Diego Ramirez - </a></li>
          <li><a href="../views/Y26230/index.hbs">Zuanny Ortiz - Y26230</a></li>
        </ul>
        <h3>Carrera: Análsis de Sistemas Informáticos </h3> 
        <address>Av.Benjamín Aceval</address>
    </div>
  </div>
</body>
</hbs>
