<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear medios</title>
</head>
<body>
    <h1>ingresar contenido</h1>
    <section class="form_crear">
        <form action="/admin/media2/create" method="post">
            <fieldset>
                <legend>Medio</legend>

                <label for="id">id</label>
                <input id="id" name="id" type="text" required>

                <label for="url">url</label>
                <input id="url" name="url" type="url" required>

                <label for="imagen">imagen</label>
                <input id="imagen" name="imagen" type="file" required>

                <label for="dibujo">dibujo</label>
                <input id="dibujo" name="dibujo" type="file" required>

                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" required>
                
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" required>

                <label for="estado">estado</label>
                <input id="estado" name="estado" type="text" required>

            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a class="volver" href="/admin/media2/listar">Volver</a>

    
</body>
</html>