<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear medios</title>
</head>
<body>
    <h1>modificar contenido</h1>
    <section class="form_crear">
        <form action="/admin/media2/create" method="post">
            
                {{#each media2}}
                <legend>Medio</legend>

                <label for="id">id</label>
                <input id="id" name="id" type="text" value="{{id}}" disabled>

                <label for="url">url</label>
                <input id="url" name="url" type="url" value="{{url}}">

                <label for="imagen">imagen</label>
                <input id="imagen" name="imagen" type="file" value="{{imagen}}">

                <label for="dibujo">dibujo</label>
                <input id="dibujo" name="dibujo" type="file" value="{{dibujo}}">

                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" value="{{matricula}}">
                
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" value="{{nombre}}">

                
                {{/each}}
            


            
            <input type="submit" value="modificar">
        </form>
    </section>
    <a class="volver" href="/admin/media2/listar">Volver</a>

    
</body>
</html>