<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de media</title>
</head>
<body>
    <h1>Listado de medios</h1>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>Video</th>
                <th>imagen</th>
                <th>dibujo</th>   
                <th>matricula</th>  
                <th>nombre</th>       
                <th>estado</th>   
            </tr>
            {{#each media2}}
            <tr>
                
                <td><a href="/admin/media2/edit/{{this.id}}">{{this.id}}</td>
                <td><iframe src="{{this.url}}" frameborder="0"></iframe></td>
                <td><img style="height: 100px; width: 100px;" src="{{this.imagen}}" alt="imagen"></td>
                <td><img style="height: 100px; width: 100px;" src="{{this.dibujo}}" alt="imagen"></td>
                <td>{{this.matricula}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.estado}}</td>
                <td>
                    <form action="/admin/media2/delete/{{this.id}}" method="post">
                    <input type="submit" value="eliminar">
                    </form>
                </td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if media2.length}}
            
        {{else}}
            <span>No hay datos de tipo de media registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a class="Crear nuevo" href="/admin/media2/crear">Crear Nuevo</a>
    <a href="/admin">Volver</a>
    
</body>
</html>